<footer class="site-footer">
  <div>&copy; <%= date(Date.now(), 'YYYY') %> <a href="https://bio.link/yumeng0628" target="_blank"><%= config.author %></a></div>
  <div><%= theme.signoff || '写给你的信' %></div>
</footer>
